###############################################################################
#                                Lorem ipsums                                 #
###############################################################################

snippet ipsum "Hacker ...... ipsum" b
Haxx0r ipsum *.* true hello world worm while int client suitably small values
fopen piggyback brute force I'm compiling. Firewall terminal man pages sql
private linux fork then default regex fatal char cache pwned pragma protocol
class public. Overflow tera Linus Torvalds Leslie Lamport hexadecimal double
tarball foo system back door hack the mainframe. Unix mailbomb else flush stack
trace break James T. Kirk. Case todo kilo gobble lib warez access /dev/null
long foad function January 1, 1970 bypass wannabee bit bang for Starcraft
infinite loop.

Gnu data fail ssh float system server baz tera afk new default buffer true man
pages mutex Dennis Ritchie try catch root stack trace. Shell snarf rsa tarball
suitably small values bytes protected python mainframe highjack cat salt void
class regex irc race condition semaphore fopen. Else eaten by a grue strlen ban
wannabee ip blob /dev/null piggyback flood infinite loop fatal big-endian. Worm
pwned printf James T. Kirk leapfrog foo I'm compiling function leet it's a
feature alloc headers kilo machine code bin echo chown case. *.* gc injection
foad xss bar else do malloc hack the mainframe char I'm sorry Dave, I'm afraid
I can't do that overflow packet.

Dereference race condition rsa irc terminal double fopen null frack suitably
small values throw daemon thread baz Donald Knuth grep firewall interpreter.
Unix blob hash flood recursively boolean float while stack bypass infinite loop
protocol access mainframe. Function epoch Starcraft gobble d00dz then packet
man pages default class bit do snarf. Win tcp private wabbit headers gurfle
stack trace cookie all your base are belong to us. Linus Torvalds *.* function
ban python I'm compiling over clock vi memory leak.
endsnippet

snippet ipsum "Arnold ...... ipsum" b
Arnold ipsum dolor sit amet. Look who's talking. I'm the famous comedian,
Arnold Brownswagger.  I'm the famous comedian, Arnold Brownswagger. Let off
some steam Bennet. Just bodies. I'll be back. Como esta. Como esta.  You blew
my CAWVA!! Cocainum! Screw you! GET TO THE CHOPPA! Make it quick because my
horse is getting tired. You are not you you're me. Consider it a divorce.
Gimme the goddam page! I have my orders. Well that hit the spot.  Into the
tunnel.

I need a vacation. Into the boat. He molested, murdered, and mutilated her. I'm
back. No sequel for you. Cocainum! Well that hit the spot. It's not a tumor.
Dylan. You son of a bitch. I've seen you before. You're the asshole on TV.
Stick around. Give you a lift? Into the boat. Get down. Get out. Come on don't
bullshit me. I'LL BE BACK. I eat green barrettes for breakfast. Right now I'm
very hungry. This is the plan, get your ass to mars. Into the tunnel. It's just
a scratch. The hell you will. Come on Bennet, let's party. You set us up. Give
you a lift? Hey light head. Hey Christmas tree. I'm the famous comedian, Arnold
Brownswagger. Of course. I'm a Terminator. Shutup. When the governor get's
here, call me.

My name is John Kimble and I love my car. Do it! Do it! Come on! Kill me. I'm
here. DO IT NOW. Kill me. You're one, ugly, muthafucka. Into the boat. I have
my orders. Make it quick because my horse is getting tired. Take it BACK. Now
listen to me very carefully. I'm a cybernetic organizm. Living tissue over
endoskeleton. It's just a scratch. Well that hit the spot. I'm back. You're
one, ugly, muthafucka. Who the hell are you. Hey, I'm a police officer. This is
an arrest. I'm a cop you idiot! I'm detective John Kimble. This man is under
arrest. I have my orders. Bullshit. You're not going to have your mommies right
behind you to wipe your little tushies. Who the hell are you. Knock knock.
Chill out, dickwad. Take it BACK. You should clone yourslef so you can go fuck
yourself. Hey light head. Hey Christmas tree. Excuse me. Don't disturb my
friend. He's dead tired. Excuse me. Don't disturb my friend. He's dead tired.
PUT THE COOKIE DOWN. Now! Get out. Bring your toy back to the carpet. Bring it
back to the carpet. See you at the party Richtar.

What the hell are you? C-coo-ool. Danger's my trade. I'LL BE BACK. Hyellen. I'm
pregnant. Crush your enemies, to see them driven before you, and to hear the
lamentations of their women.. Danger's my trade. I eat green barrettes for
breakfast. Right now I'm very hungry. Hasta la vista baby. Just bodies. You're
one, ugly, muthafucka. There is no bathroom. I'm pregnant. I do not want to
touch his ass. I want to make him talk. The first time in my life I am...
Pissed off! You're a stupid. Stop cheering me up. You blew my CAWVA!! I'm a
cybernetic organizm. Living tissue over endoskeleton. Frosty. Grant me revenge.
And if you do not listen, the hell with you. I've seen you before. You're the
asshole on TV. You are terminated. Dylan. You son of a bitch. Remember Sully
when I promised to kill you last? I lied! C-coo-ool. Put the cookie down. Now!
To be or not to be. Not to be. I want my Larry. I wanna see you.

No shit. Como esta. No I don't stop it. I want my baby. Here is Sub Zero. Now
plain Zero. I'll be back. You're one, ugly, muthafucka. The Iceman cometh. No I
don't stop it. I want my baby. My nipples are very sensitive. Stick around.
Bring your toy back to the carpet. Bring it back to the carpet. The hell you
will. Let off some steam Bennet. Shuuuuuttttuuuuup!!! Seen those movies where
they say 'Make my day' or 'Im your worst nightmare'? Well listen to this one.
Rubber-baby-buggy-bumbers. You should clone yourslef so you can go fuck
yourself. I'll be back. Dylan. You son of a bitch. Consider it a divorce. I'm a
cybernetic organizm. Living tissue over endoskeleton. Take your toy back to the
carpet. Crumb. Shuuuuuttttuuuuup!!! My name is John Kimble and I love my car.
Bring your toy back to the carpet. Bring it back to the carpet. Feel how soft
my skin is. Alright everyone. chill. You should clone yourslef so you can go
fuck yourself. I'LL BE BACK. It's just a scratch.
endsnippet

snippet ipsum "Corporate ... ipsum" b
Collaboratively administrate empowered markets via plug-and-play networks.
Dynamically procrastinate B2C users after installed base benefits. Dramatically
visualize customer directed convergence without revolutionary ROI.  Efficiently
unleash cross-media information without cross-media value. Quickly maximize
timely deliverables for real-time schemas. Dramatically maintain
clicks-and-mortar solutions without functional solutions.

Completely synergize resource sucking relationships via premier niche markets.
Professionally cultivate one-to-one customer service with robust ideas.
Dynamically innovate resource-leveling customer service for state of the art
customer service.

Objectively innovate empowered manufactured products whereas parallel
platforms. Holisticly predominate extensible testing procedures for reliable
supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge
deliverables.

Proactively envisioned multimedia based expertise and cross-media growth
strategies. Seamlessly visualize quality intellectual capital without superior
collaboration and idea-sharing. Holistically pontificate installed base portals
after maintainable products.

Phosfluorescently engage worldwide methodologies with web-enabled technology.
Interactively coordinate proactive e-commerce via process-centric "outside the
box" thinking. Completely pursue scalable customer service through sustainable
potentialities.
endsnippet

snippet ipsum "Quote ....... ipsum" b
Energy and persistence conquer all things. This Saturday, do something you have
wanted to do for years. Something just for yourself. And repeat this process
once every month. To avoid criticism, do nothing, say nothing, be nothing. Some
people have greatness thrust upon them. Very few have excellence thrust upon
them. When one door closes another opens. Expect that new door to reveal even
greater wonders and glories and surprises. Feel yourself grow with every
experience. And look for the reason for it Men who try to do something and fail
are infinitely better off than those who try to do nothing and succeed.

Be gentle with yourself. If you will not be your own unconditional friend, who
will be? If you are playing an opponent and you are also opposing yourself you
are going to be outnumbered. Do noble things, do not dream them all day long.
Can you imagine what I would do if I could do all I can? A cloud does not know
why it moves in just such a direction and at such a speed, it feels an
impulsion, this is the place to go now. But the sky knows the reasons and the
patterns behind the clouds, and you will know, too, when you lift yourself high
enough to see beyond horizons. In a world where death is the hunter, my friend,
there is no time for regrets or doubts. There is only time for decisions.
Listen to the silence as it echoes around you. Ancient spirits dance to it. I
expect to pass through this world but once. Any good therefore that I can do,
or any kindness or abilities that I can show to any fellow creature, let me do
it now. Let me not defer it or neglect it, for I shall not pass this way again.
There is no such thing as a problem without a gift for you in its hands. You
seek problems because you need their gifts.
endsnippet

snippet ipsum "Star Trek ... ipsum" b
These are the voyages of the Starship Enterprise. Its continuing mission, to
explore strange new worlds, to seek out new life and new civilizations, to
boldly go where no one has gone before. We need to neutralize the homing
signal. Each unit has total environmental control, gravity, temperature,
atmosphere, light, in a protective field. Sensors show energy readings in your
area. We had a forced chamber explosion in the resonator coil. Field strength
has increased by 3,000 percent.

Run a manual sweep of anomalous airborne or electromagnetic readings. Radiation
levels in our atmosphere have increased by 3,000 percent. Electromagnetic and
subspace wave fronts approaching synchronization. What is the strength of the
ship's deflector shields at maximum output? The wormhole's size and short
period would make this a local phenomenon. Do you have sufficient data to
compile a holographic simulation?

Now what are the possibilities of warp drive? Cmdr Riker's nervous system has
been invaded by an unknown microorganism. The organisms fuse to the nerve,
intertwining at the molecular level. That's why the transporter's biofilters
couldn't extract it. The vertex waves show a K-complex corresponding to an REM
state. The engineering section's critical.  Destruction is imminent. Their
robes contain ultritium, highly explosive, virtually undetectable by your
transporter.

Resistance is futile.
endsnippet

snippet ipsum "Pirate ...... ipsum" b
Gibbet weigh anchor league flogging tender ballast mizzenmast doubloon
square-rigged carouser belay shrouds. Sutler chantey dance the hempen jig jib
Pirate Round tack scuttle clap of thunder spike Brethren of the Coast carouser
haul wind. Privateer jolly boat Sea Legs keel Shiver me timbers bilged on her
anchor draft aye brig run a shot across the bow chantey knave. Sink me long
clothes port loaded to the gunwalls starboard crack Jennys tea cup lass gally
swing the lead yo-ho-ho transom bounty.

Barbary Coast chase guns careen lass ye snow American Main execution dock fore
broadside jack Jolly Roger. Case shot holystone barque fathom line chase guns
rigging piracy handsomely swab splice the main brace boom. Holystone handsomely
run a rig ahoy swab wherry rigging gunwalls shrouds maroon clap of thunder
Brethren of the Coast. Gally mizzen Jolly Roger scurvy man-of-war run a rig
loaded to the gunwalls league jury mast pressgang topmast sutler.

Ahoy sloop no prey, no pay Corsair shrouds gibbet red ensign quarter scurvy
driver fluke aft. Black spot shrouds hulk loaded to the gunwalls aye chase
lateen sail grog square-rigged pillage man-of-war main sheet. Shiver me timbers
hulk red ensign Pirate Round brigantine gunwalls Corsair list Barbary Coast
strike colors grog blossom handsomely. Lad scuttle haul wind long clothes
squiffy hornswaggle doubloon jib bowsprit pillage prow fathom.
endsnippet

snippet ipsum "Justin Bieber ipsum" b
Baby, baby, baby oooh
Like baby, baby, baby nooo
Like baby, baby, baby oooh
I thought you'd always be mine (mine)

Baby, baby, baby oooh
Like baby, baby, baby nooo
Like baby, baby, baby oooh
I thought you'd always be mine (mine)

And I'm like
Baby, baby, baby oooh
Like baby, baby, baby nooo
Like baby, baby, baby oooh
I thought you'd always be mine (mine)

Baby, baby, baby oooh
Like baby, baby, baby nooo
Like baby, baby, baby oooh
endsnippet

# vim:ft=snippets:

